.projects {
  margin: 0 auto;
  width: 80%;
  max-width: 1100px;
}

.slick-slide > div {
  margin: 0 20px;
}
.slick-list {
  margin: 0 -20px;
}

.slick-arrow::before {
  color: var(--clr-primary);
  opacity: 0.9;
}

.project {
  padding: 2rem;
  margin: 0 auto;
  height: auto;
  text-align: center;
  box-shadow: var(--shadow);
  border-radius: 5px;
}

.project__image {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
}

.project__description {
  margin-top: 1rem;
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0;
}

.project__stack-item {
  margin: 0.4rem;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
}

.project__links {
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
}

.project__link-item {
  gap: 0.5rem;
  padding: 6px 10px;
  color: var(--clr-bg);
  font-weight: 500;
  background-color: var(--clr-primary);
  border-radius: 5px;
  transition: opacity 200ms ease-in-out;
}

.project__link-item:hover,
.project__link-item:focus {
  opacity: 0.8;
}
