.projects {
  margin: 0 auto;
  width: 80%;
  max-width: 1100px;
  align-items: stretch;
}

.slick-track {
  display: flex !important;
  align-items: stretch;
}
.slick-slide {
  height: auto;
}
.slick-slide > div {
  margin: 0 10px;
  height: 100%;
}
.slick-list {
  margin: 0 -10px;
}

.slick-arrow::before {
  position: relative;
  color: var(--clr-primary);
  opacity: 0.9;
  z-index: 2;
}

.slick-dots li button:before {
  color: var(--clr-fg);
  opacity: 0.85;
}
.slick-dots li.slick-active button:before {
  color: var(--clr-primary);
}

.project {
  padding: 2rem;
  margin: 0 auto;
  height: 100%;
  text-align: center;
  box-shadow: var(--shadow);
  border-radius: 8px;
}

.project__image {
  width: 100%;
  margin: 1rem auto;
  height: 280px;
  object-fit: cover;
}

.project__description {
  margin-top: 1rem;
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0;
}

.project__stack-item {
  margin: 0.4rem;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
}

.project .project__links {
  justify-content: center;
  gap: 1rem;
}

.project__link-item {
  gap: 0.5rem;
  padding: 6px 10px;
  color: var(--clr-bg);
  font-weight: 500;
  background-color: var(--clr-primary);
  border-radius: 5px;
  transition: opacity 200ms ease-in-out;
}

.project__link-item:hover,
.project__link-item:focus {
  opacity: 0.8;
}

@media (max-width: 600px) {
  .project__image {
    height: 180px;
  }

  .project__description {
    font-size: 0.9rem;
  }
}
