.scrollUp {
  display: flex;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 0;
  font-size: 2rem;
  color: var(--clr-primary);
  border-radius: 50%;
  transition: transform 300ms ease-in-out, box-shadow 300ms ease-in-out,
    opacity 300ms ease-in-out;
}

.scrollUp:hover,
.scrollUp:focus {
  transform: scale(1.05);
  box-shadow: var(--shadow);
  opacity: 0.9;
}
