.nav__list {
  display: flex;
  margin-right: 1.5rem;
}
.nav__list-item {
  margin-left: 1.5rem;
}

.link-nav {
  color: var(--clr-fg);
  font-weight: 500;
  font-size: 1.15rem;
  letter-spacing: 0.05rem;
}

.app .nav__menu {
  display: none;
}

.nav__theme {
  color: rgb(237, 168, 40);
  transition: color 300ms ease-in-out;
}

.btn-icon.nav__theme:hover,
.btn-icon.nav__theme:focus {
  color: rgb(244, 188, 21);
}

@media (max-width: 600px) {
  .nav__list {
    position: fixed;
    inset: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0;
    width: 100vw;
    height: 80vh;
    z-index: 2;
  }

  .nav__list-item {
    margin: 0.5rem 0;
  }

  .app .nav__menu {
    display: flex;
    margin-left: 0.8rem;
    z-index: 2;
  }
}
