.nav__list {
  display: flex;
  margin-right: 1.5rem;
}
.nav__list-item {
  margin-left: 1.5rem;
}

.link-nav {
  color: var(--clr-fg);
  font-weight: 500;
}

.app .nav__menu {
  display: none;
}

@media (max-width: 600px) {
  .nav__list {
    position: fixed;
    inset: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0;
    width: 100vw;
    height: 80vh;
    z-index: 2;
  }

  .nav__list-item {
    margin: 0.5rem 0;
  }

  .app .nav__menu {
    display: flex;
    margin-left: 0.8rem;
    z-index: 2;
  }
}
