.nav__list {
  display: flex;
  margin-right: 1.5rem;
  height: auto;
  width: auto;
}
.nav__list-item {
  margin-left: 1.5rem;
}

.link-nav {
  color: var(--clr-fg);
  font-weight: 500;
  font-size: 1.15rem;
  letter-spacing: 0.05rem;
}

.app .nav__menu {
  display: none;
}

.nav__theme {
  margin-right: 1rem;
  color: rgb(237, 168, 40);
  transition: color 300ms ease-in-out;
}

.btn-icon.nav__theme:hover,
.btn-icon.nav__theme:focus {
  color: rgb(244, 188, 21);
}

@media (max-width: 600px) {
  .nav__list {
    position: fixed;
    inset: 0;
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 6rem;
    padding-inline-start: 0;
    left: 30%;
    right: -10%;
    height: 100vh;
    z-index: 2;
    background-color: var(--clr-bg-alt);
    box-shadow: var(--shadow);
    animation: height-max 0.75s;
  }

  .nav__list-item {
    margin: 1rem 0;
  }

  .app .nav__menu {
    display: flex;
    right: 2rem;
    color: var(--clr-fg);
    z-index: 2;
  }
}

@keyframes height-max {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 100vh;
  }
}
