.app {
  line-height: 1.5;
  color: var(--clr-fg);
  background-color: var(--clr-bg);
  background-image: var(--bg-img);
  position: relative;
  font-family: Roboto, sans-serif;
}

.light {
  --clr-bg: #fcfcfc;
  --clr-bg-alt: #fff;
  --clr-fg: #555;
  --clr-fg-alt: #444;
  --clr-primary: #2978b5;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dark {
  --clr-bg: #2d1950;
  --bg-img: url(images/Night.jpg);
  --clr-bg-alt: rgba(12, 8, 24, 0.904);
  --clr-fg: #bdbddd;
  --clr-fg-alt: #cdcdff;
  --clr-primary: #c770f0;
  --shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459);
}

main {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
}

.section {
  margin-top: 6rem;
}

.section__title {
  text-align: center;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.center {
  display: flex;
  align-items: center;
}

.link {
  padding: 0.3rem;
  color: var(--clr-primary);
  transition: opacity 300ms ease-in-out;
}

.link:hover,
.link:focus {
  opacity: 0.77;
}

.link-icon {
  color: var(--clr-fg);
}

.btn {
  cursor: pointer;
  padding: 0.8em 1.4em;
  font-weight: 500;
  font-size: 1.3rem;
  transition: transform 0.2s ease-in-out;
}

.btn-icon {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  background-color: inherit;
}

.btn-icon:hover,
.btn-icon:focus {
  color: var(--clr-primary);
}

.btn-icon:active {
  transform: translateY(-5px);
}

@media (max-width: 600px) {
  .section {
    margin-top: 4rem;
  }
}
