body {
  scroll-behavior: smooth;
}
.app {
  line-height: 1.5;
  color: var(--clr-fg);
  background-color: var(--clr-bg);
  background-image: var(--bg-img);
  position: relative;
  font-family: Roboto, sans-serif;
}

.light {
  --clr-bg: #fcfcfc;
  --clr-bg-alt: #fff;
  --clr-add: #f6eaff;
  --crl-sticky: rgba(235, 208, 255, 0.3);
  --clr-fg: #555;
  --clr-fg-alt: #444;
  --clr-primary: #ae33cd;
  --shadow: 0 4px 5px 3px #77358875;
}

.dark {
  --clr-bg: #2d1950;
  --bg-img: url(images/Night.jpg);
  --clr-bg-alt: #0c0818e7;
  --clr-add: #1d1c31a9;
  --crl-sticky: #1b1a2ea9;
  --clr-fg: #f1f1f1;
  --clr-fg-alt: #fff;
  --clr-primary: #c770f0;
  --shadow: 0 4px 5px 3px #77358875;
}

main {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
}

.section {
  margin-top: 6rem;
}

.section__title {
  text-align: center;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.center {
  display: flex;
  align-items: center;
}

.link {
  padding: 0.3rem;
  color: var(--clr-primary);
  transition: opacity 300ms ease-in-out;
}

.link:hover,
.link:focus {
  opacity: 0.8;
}

.link-icon {
  color: var(--clr-fg);
}

.btn {
  cursor: pointer;
  padding: 0.8em 1.4em;
  font-weight: 500;
  font-size: 1.3rem;
  transition: transform 0.2s ease-in-out;
}

.btn-icon {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  background-color: inherit;
}

.btn-icon:hover,
.btn-icon:focus {
  color: var(--clr-primary);
}

.btn-icon:active {
  transform: translateY(-5px);
}

@media (max-width: 600px) {
  .section {
    margin-top: 4rem;
  }
}
